apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  labels:
    controller-tools.k8s.io: "1.0"
  name: wordpresses.wordpress.presslabs.org
spec:
  group: wordpress.presslabs.org
  names:
    kind: Wordpress
    plural: wordpresses
  scope: Namespaced
  subresources:
    scale:
      specReplicasPath: .spec.replicas
      statusReplicasPath: .status.replicas
    status: {}
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          type: string
        kind:
          type: string
        metadata:
          type: object
        spec:
          properties:
            code:
              properties:
                contentSubPath:
                  type: string
                emptyDir:
                  type: object
                git:
                  properties:
                    emptyDir:
                      type: object
                    env:
                      items:
                        type: object
                      type: array
                    envFrom:
                      items:
                        type: object
                      type: array
                    reference:
                      type: string
                    repository:
                      type: string
                  required:
                  - repository
                  type: object
                hostPath:
                  type: object
                persistentVolumeClaim:
                  type: object
              type: object
            domains:
              items:
                type: string
              minItems: 1
              type: array
            env:
              items:
                type: object
              type: array
            envFrom:
              items:
                type: object
              type: array
            image:
              type: string
            imagePullPolicy:
              enum:
              - Always
              - IfNotPresent
              - Never
              type: string
            imagePullSecrets:
              items:
                type: object
              type: array
            ingressAnnotations:
              type: object
            media:
              properties:
                emptyDir:
                  type: object
                gcs:
                  properties:
                    bucket:
                      minLength: 1
                      type: string
                    env:
                      items:
                        type: object
                      type: array
                    prefix:
                      type: string
                  required:
                  - bucket
                  type: object
                hostPath:
                  type: object
                persistentVolumeClaim:
                  type: object
              type: object
            replicas:
              format: int32
              type: integer
            serviceAccountName:
              type: string
            tag:
              type: string
            tlsSecretRef:
              type: string
            volumeMounts:
              items:
                type: object
              type: array
            volumes:
              items:
                type: object
              type: array
          required:
          - domains
          type: object
        status:
          properties:
            replicas:
              format: int32
              type: integer
          type: object
  version: v1alpha1
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
