apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - wordpress.presslabs.org
  resources:
  - wordpresses
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - wordpress.presslabs.org
  resources:
  - wordpressruntimes
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
