apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: {{ include "wordpress-operator.fullname" . }}
  labels:
    app: {{ include "wordpress-operator.name" . }}
    chart: {{ include "wordpress-operator.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "wordpress-operator.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ include "wordpress-operator.name" . }}
        release: {{ .Release.Name }}
    spec:
      serviceAccount: {{ template "wordpress-operator.serviceAccountName" . }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image }}"
          imagePullPolicy: {{ .Values.imagePullPolicy }}

          {{- with .Values.extraArgs }}
          args:
            {{- range $arg := . }}
            - {{ $arg }}
            {{- end }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}

      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- range $arg := . }}
        - name: {{ $arg }}
        {{- end }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
